.banner{
    background-size: cover;
    height: 100vh;
    z-index: -2;
    color: white;
    margin-bottom: 10px;
}
.banner .content{
    padding: 120px 40px;
}
.banner .title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 120px;
    font-size: 5em;
}

.banner .banner-buttons{
    margin: 20px 80px;
    padding: 10px;
}
.banner .banner-buttons .button1,.button2{
    font-size: 1.1em;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;

}
.banner .banner-buttons .button1{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.banner .banner-buttons .button2{
    background: rgb(82, 82, 82,0.7);
    color: rgb(255, 255, 255);
}

.banner .banner-buttons .button1:hover{
    background: rgba(220, 220, 220, 0.7);
}
.banner .banner-buttons .button2:hover{
    background: rgba(82,82,82, 0.3);
}

.banner .discription{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 1em;
    width: 35%;
    font-weight: bold;
}
